.logo{
	height: 60px;
	width: 50px;
	top: -30px;
	position: relative;
}
h1{
	position: relative;
	top: -15px;
}
.about_txt{
	position: relative;
	left: -30px;
}
.navbar_cl{
	background-color: #123456;
	color: white;
}
.card-group{
	border: none;
	text-decoration: none;
	border-color: white;
}
.card_css{
	border-color: white;
}
ul{
/*	background-color: blue;*/
	display: flex;
	list-style-type: none;
	justify-content: center;
}
li{
/*	background-color: blue;*/
	margin-right: 40px;
	padding-bottom: 3px;
}
.indiana{
/*	background-color: blue;*/
	display: flex;
	justify-content: center;
	padding-bottom: 3px;
}
.card-group{
	padding: 20px;
	margin: 20px;
}
.img{
	height: 400px;
	width: 400px;
	display: block;
    margin-left: auto;
}
.about{
	padding: 20px;
	display: flex;
	font-size: 30px;
}
.about_txt{
	padding: 20px;
	color: #123456;
	font-weight: 900;
}
span{
	color: #123456;
	font-weight: bold;	
}
p{
	font-size: 27px;
}
.btn-design{
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	color: white;
	background-color: #123546;
	height: 40px;
	width: 120px;
	float: right;
}
.r1{
	text-align: center;
	background-color: gray;
	width: 900px;
	position: relative;
	left:230px;
}
.i1
{
	height: 50px;
	text-align: center;
}
.hello{

	background-color: gray;
}
.p1{
	font-size: 20px;
}
.col-sm{
	position: relative;
	top: 35px;
}
.btn1{
	position: relative;
	top: -80px;
	left: 100px;
	background-color: #123456;
	border-radius: 50%;
	border: none;
	color: white;
	font-weight: bold;
	height: 50px;
	width: 50px;
	font-size: 30px;
}
.btn2{
	top: -80px;
	position: relative;
	float: right;
	right: 70px;
	background-color: #123456;
	border-radius: 50%;
	border: none;
	color: white;
	font-weight: bold;
	height: 50px;
	width: 50px;
	font-size: 30px;
}

.card-group{
	margin: 0px;
	padding: 0px;
}
.height-img{
	width: 90%;
	position: relative;
	left: 60px;
}
.btn-design12{
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none;
	color: white;
	background-color: #123546;
	height: 40px;
	width: 120px;
	position: relative;
	left: 45%;
}
.lt{
	color: white;
	left: 200px;
	display: inline-flex;
	position: relative;
	top: -120px;
}
.rt{
	display: inline-flex;
	left: 25%;
	position: relative;
}
.i2{
	height: 40%;
	width: 80%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
}
.main{
	background-color: #123456;
	margin: 20px;
	margin-left: 0px;
	margin-right: 0px;
	width: 1320px;
	height: 185px;
}
.btn-design123{
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: none;
	color: black;
	background-color: white;
	height: 50px;
	width: 180px;
	position: relative;
	top: 90px;
	left: -370px;
}
.abt{
	font-size: 70px;
}
.p2{
	position: relative;
	top: -20px;
	color: #123456;
	font-weight: bold;
	font-size: 20px;
}
.leftneed{
	position: relative;
	left: 60px;
}
.lf1,.rt1{
	position: relative;
	top: 15px;
}

h3{
	font-weight: bold;
}
.fs{
	font-size: 15px;
}
.main1{
	background-color: #123456;
	color: white;
	height: 280px;
}
.pin{
	height: 20px;
	width: 20px;
}
.fs1{
	position: relative;
	top: -15px;
}
.heightimg{
	height: 50px;
}
.ftr{
	height: 40px;
	margin: 0;
	margin-bottom: 0px;
	text-align: center;
	background-color:#444444;
}
.ftr1{
	position: relative;
	top: 6px;
	font-size: 20px;
	color: white;
}